/* Stating my table of contents
  general definitions
  Titles
  Header
  body
  Navs
  buttons
  */
   /* All pages  */
   * {
    text-align: center;
    color: #181613;
    background-color: rgb(167, 200, 228);
     

   }

   body {
       background-color: transparent;
   }
   .selector-for-some-widget {
    box-sizing: content-box;
  }
h1, h2, h3{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

h2 {
       font-size: 20px;
}

  /* Footer */
/* containig position sticky */
footer {
    
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
     
}

/*  Index page  */

.mypic {
    margin-left: 10px;
    margin-top: 60px;
}
    .mtext{
        margin-top: 10px;
        padding: 0;
    }

    /* Contact Form*/
    form{
        margin: 0.5px auto 0 ;
        width: 50%;
   
    }

    /* Portfolio */
.card {
    background-color: transparent;
    margin-top: 20px;
}
h3 {
    font-size: 16px;
}

.row {
  margin-bottom: 10px;
}